## String operations

In [1]:
name = 'Michael Jackson'

In [2]:
# Intervals
name[3:5] # First included, last not included

'ha'

In [3]:
# Left to right
name[-3]

's'

In [4]:
# each x 
name[::3] #each 3

'Mhlas'

In [5]:
# length
len(name)

15

In [6]:
# String x times
name * 2

'Michael JacksonMichael Jackson'

In [7]:
# Uppercase Method
new_name = name.upper()
new_name

'MICHAEL JACKSON'

In [8]:
# Replace Method
new_name = name.replace('Michael', 'Joan')
new_name

'Joan Jackson'

In [9]:
# Find 
name.find('ks') # Return the first index of the sequence

11