In [1]:
import pandas as pd

In [2]:
import random
nItems = 100
df_origin = pd.DataFrame({
    'datetime': pd.date_range(start='2018-12-27 01:00:00', periods=nItems, freq='H'),
    'pressure': random.sample(range(1, 300), nItems),
    'pressure-h-1': random.sample(range(1, 300), nItems),
    'pressure-h-2': random.sample(range(1, 300), nItems),
})

df_origin.head(3)

             datetime  pressure  pressure-h-1  pressure-h-2
0 2018-12-27 01:00:00        14           214           173
1 2018-12-27 02:00:00        45           174           170
2 2018-12-27 03:00:00       235           228           131

In [3]:
df_origin.shape

(100, 4)

In [4]:
import sys
sys.path.append('../steps/code/')

from custom_functions import custom_split_data

In [5]:
SENSOR = 'pressure'

# Feature and target selection
feat_columns = list(df_origin.columns.values)
target_colum = SENSOR
feat_columns.remove(target_colum)
feat_columns.remove('datetime')

# Split ratios
ratios = {
    'train': 0.75,
    'validation': 0.15,
    'test': 0.10
}

# Split data
x_train, x_test, x_val, y_train, y_test, y_val = custom_split_data(df_origin, feat_columns, target_colum, ratios['train'], ratios['validation'], ratios['test'])

In [6]:
print('x_train', x_train.shape)
print('x_test', x_test.shape)
print('x_val', x_val.shape)

x_train (75, 2)
x_test (10, 2)
x_val (15, 2)

In [7]:
x_test

    pressure-h-1  pressure-h-2
82           232           273
98           235           205
71            94            83
12           117           246
95           273           229
74            14             9
81           223           171
9              3           230
8            112           108
53            15            98