## 1 - Data Collection

A Pandas Dataframe with hourly datetime and data value columns. It can have empty and nulls values

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_origin = pd.DataFrame({
    'datetime': ['2018-12-27 01:00:00', '2018-12-27 03:00:00', '2018-12-27 06:00:00', '2018-12-27 07:00:00'],
    'pressure': [10, 25, 15, pd.np.nan]
})

df_origin

              datetime  pressure
0  2018-12-27 01:00:00      10.0
1  2018-12-27 03:00:00      25.0
2  2018-12-27 06:00:00      15.0
3  2018-12-27 07:00:00       NaN

### Datasets

https://www.kaggle.com/selfishgene/historical-hourly-weather-data

In [3]:
SENSOR = 'pressure'
CITY = 'Seattle'
df = pd.read_csv('../data/{}.csv'.format(SENSOR))
df_origin = pd.DataFrame(df[['datetime', CITY]])
df_origin.columns = ['datetime', SENSOR]

In [4]:
print('From {} to {}'.format(df_origin['datetime'].min(), df_origin['datetime'].max()))
print('\n', df_origin.shape)

From 2012-10-01 12:00:00 to 2017-11-30 00:00:00

 (45253, 2)

In [5]:
df_origin.head(3)

              datetime  pressure
0  2012-10-01 12:00:00       NaN
1  2012-10-01 13:00:00    1027.0
2  2012-10-01 14:00:00    1027.0