In [1]:
import pandas as pd
import DFInfo

In [2]:
    fakeCols = ['A', 'B', 'C']
    fakeData = {
      'row_1': [2, 1], 
      'row_2': [3, 'f', 'h'],
      'row_3': [4, 'g', 'h']
    }
    dfX = pd.DataFrame.from_dict(fakeData, orient='index', columns=fakeCols)
    dfX = dfX.astype(dtype= {"A":"int64"})
    dfX['target'] = dfX['A'] * 3.14

dfX

       A  B     C  target
row_1  2  1  None    6.28
row_2  3  f     h    9.42
row_3  4  g     h   12.56

In [3]:
r = DFInfo.inspect(dfX, 'target')
r.sample(3)

   feature variable value
6        A   unique     3
4        B    count     3
10       B    nulls     0

In [4]:
r.pivot(values='value', index='feature', columns='variable')

variable count   dtype nulls unique
feature
A            3   int64     0      3
B            3  object     0      3
C            2  object   0.5      1